#logo1{
    background-image: url(../img/logofalconi.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: rebeccapurple;
    width: 110px;
    height: 110px;
    border-radius: 10%;
}
#logo2{
    background-image: url(../img/mc_logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: lightskyblue;
    width: 110px;
    height: 110px;
    border-radius: 10%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#Paragrafo {
    font-family: 'Lora', serif;
    font-size: 1.2vw;
    position: absolute;
    top: 25%;
}
@font-face {
    font-family: Minecraft;
    src: url(../fonts/MinecraftTen-VGORe.ttf);
}
@font-face {
    font-family: Doom;
    src: url(../fonts/Doom2016Text-GOlBq.ttf);
}
h1 {
    padding: 0;
    margin: 0;
    font-family: Minecraft;
    font-size: 10vw;
    color:green;
}
#classe {
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0%;
    right: 5%;
    font-family: Doom;
    font-size: 12vw;
    color: red;
}
#AnnoScolastico {
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0%;
    left: 5%;
    font-family: Doom;
    font-size: 7vw;
    color: red;
}
html {
    background-color: rgba(20, 228, 218, 0.438);
}
