#logo1{
    background-image: url(../img/logofalconi.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: lightskyblue;
    width: 110px;
    height: 110px;
    border-radius: 10%;
}
#logo2{
    background-image: url(../img/mc_logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: lightskyblue;
    width: 110px;
    height: 110px;
    border-radius: 10%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

#Paragrafo {
    font-family: 'Lora', serif;
    font-size: 1.2vw;
    position: absolute;
    top: 25%;
}
@font-face {
    font-family: Minecraft;
    src: url(../fonts/MinecraftTen-VGORe.ttf);
}
@font-face {
    font-family: Doom;
    src: url(../fonts/Doom2016Text-GOlBq.ttf);
}
h1 {
    padding: 0;
    margin: 0;
    font-family: Minecraft;
    font-size: 10vw;
    color:green;
}
div {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0%;
    font-family: Doom;
    font-size: 20vw;
    color: red;
}
html {
    background-color: rgb(149, 241, 241);
}
